    body {
    background-image: url("images/grass.png");
    background: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
}


#follower {
    width: 30px;
    height: 30px;
    background: cornflowerblue;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
}
