body {
font-family: "Roboto", sans-serif;
background-color: rgb(255, 110, 105);
}

#page {
width: 700px;
height: 800px;
border: 5px solid black;
background-color: rgb(255, 209, 209);
margin: 0 auto;
padding: 8px;
}
#small {
font-size: 20px;
display: inline-block;
margin-left: 10px;
}

/*on default h1 adds a line break so u cant add multipe tags on one line but this removes it for the small text to be on the same line*/
h1 {
display: inline;
}